.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
}

.NavigationItem a {
  display: block;
  text-decoration: none;
  height: 100%;
  color: #fff;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #fff;
  background-color: #8F5C2C;
  border-bottom-color: #40A4C8;
}
